<router-outlet></router-outlet>
<p>Come get Rekt</p>
<div>
  <p><button (click)="onClick(0,0)">{{ squareAt(0,0) }} </button> <button (click)="onClick(0,1)">{{ squareAt(0,1) }}</button> <button (click)="onClick(0,2)">{{ squareAt(0,2) }}</button></p>
  <p><button (click)="onClick(1,0)">{{ squareAt(1,0) }} </button> <button (click)="onClick(1,1)">{{ squareAt(1,1) }}</button> <button (click)="onClick(1,2)">{{ squareAt(1,2) }}</button></p>
  <p><button (click)="onClick(2,0)">{{ squareAt(2,0) }} </button> <button (click)="onClick(2,1)">{{ squareAt(2,1) }}</button> <button (click)="onClick(2,2)">{{ squareAt(2,2) }}</button></p>
  <div [innerText]="gameOver()"></div>
</div>
