<ul>
  <li>
    <span (click)="clickSquare(0)">{{ getSquare(0) }}</span> |
    <span (click)="clickSquare(1)">{{ getSquare(1) }}</span> |
    <span (click)="clickSquare(2)">{{ getSquare(2) }}</span>
  </li>
  <li>
    <span (click)="clickSquare(3)">{{ getSquare(3) }}</span> |
    <span (click)="clickSquare(4)">{{ getSquare(4) }}</span> |
    <span (click)="clickSquare(5)">{{ getSquare(5) }}</span>
  </li>
  <li>
    <span (click)="clickSquare(6)">{{ getSquare(6) }}</span> |
    <span (click)="clickSquare(7)">{{ getSquare(7) }}</span> |
    <span (click)="clickSquare(8)">{{ getSquare(8) }}</span>
  </li>
</ul>
<div *ngIf="winner > 0">You Win! {{ this.winner }}</div>
